html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Ubuntu, "DejaVu Sans", sans-serif;
  background: #fff url(/images/bodypattern.png) repeat;
}

a {
  color: inherit;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#contents-container {
  position: relative;
  padding-top: 10px;
  padding-bottom: 100px;
  margin-top: -10px;
}

#nav {
  width: 100%;
  float: right;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  font-size: small;
}

#nav li {
  float: right;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-left: 15px;
  background: rgba(0,0,0,0.1);
  text-shadow: 1px 1px 0 #fff;
}

#nav li.current {
  float: right;
  color: #fff;
  background: rgba(0,0,0,0.6);
  text-shadow: 1px 1px 0 #000;
}

#nav li a {
  display: block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
}

#nav li a:hover {
  color: #fff;
  text-shadow: 1px 1px 0 #000 ;
  background: rgba(0,0,0,0.6)
}

#infoblock {
  margin-top: 30px;
}

#infoblock h2 {
  display: block;
  background: #444 url(/images/pattern.png) repeat-x 235px 0;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  box-shadow:  2px 2px 4px rgba(0,0,0,1);
  -webkit-box-shadow:  2px 2px 4px rgba(0,0,0,1);
  -moz-box-shadow:  2px 2px 4px rgba(0,0,0,1);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#infoblock p {
  display: block;
  text-align: justify;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  color: #000;
  text-shadow: 1px 1px 0 #f3f3f3;
}

#title {
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  font-size: 6em;
  text-align: left;
}

#title a {
  text-decoration: none;
}

#subtitle {
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  font-size: 4em;
  text-align: left;
  padding-left: 100px;
}

#container {
  display: block;
  background: rgba(0,0,0,0.7);
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 10px;
  background: #000 url(/images/pattern.png) repeat;
}

#footer {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: small;
  text-shadow: 1px 1px 0 #000;
  background: rgba(0,0,0,0.7);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
